        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Arial', sans-serif;
            background-color: #fffbef;
        }

        header {
            display: flex;
            align-items: center;
            background-color: #f7fdff;
            padding: 10px 30px;
        }

        #logo {
            width: 85px;
            height: auto;
            margin-right: 40px;
        }

        #menu {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 20px;
            flex-wrap: wrap;
        }

        .list {
            font-weight: bold;
        }

        .list a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #4591bd;
            font-size: 26px;
            padding: 12px 20px;
            border-radius: 7px;
            transition: background 0.3s;
            margin-right: 75px;
        }

        #menu li:first-child a {
            margin-left: 50px;
        }

        .list a:hover {
            background-color: #4591bd;
            color: #f7fdff;
        }
        .container {
        max-width: 800px;
        width: 100%;
        padding: 20px;
        }   

        .comida {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        }

        .comida-imagem {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        }

        .comida-nome {
        font-size: 24px;
        margin-top: 15px;
        color: #5e5d5d;
        }   

        .comida-descricao {
        font-size: 16px;
        margin: 10px 0;
        color: #7e7a7a;
        }

        .btn-comida {
        padding: 10px 20px;
        background-color: #7e96a0;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        }

        .btn-comida:hover {
        background-color: #7e96a0;
        }