        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Arial', sans-serif;
            background-color: #fffbef;
        }

        header {
            display: flex;
            align-items: center;
            background-color: #f7fdff;
            padding: 10px 30px;
        }

        #logo {
            width: 85px;
            height: auto;
            margin-right: 40px;
        }

        #menu {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 20px;
            flex-wrap: wrap;
        }

        .list {
            font-weight: bold;
        }

        .list a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #4591bd;
            font-size: 26px;
            padding: 12px 20px;
            border-radius: 7px;
            transition: background 0.3s;
            margin-right: 75px;
        }

        #menu li:first-child a {
            margin-left: 50px;
        }

        .list a:hover {
            background-color: #4591bd;
            color: #f7fdff;
        }

        /* Barra de pesquisa */
        .item-pesquisa {
            display: flex;
            align-items: center;
            margin-left: 10px;
        }

        #form-pesquisa {
            display: flex;
            align-items: center;
        }

        #form-pesquisa input[type="text"] {
            padding: 10px;
            border-radius: 7px 0 0 7px;
            border: 1px solid #ccc;
            font-size: 16px;
            width: 160px;
        }

        #form-pesquisa button {
            padding: 10px 12px;
            border: none;
            background-color: #8ec1df;
            color: white;
            border-radius: 0 7px 7px 0;
            cursor: pointer;
            font-size: 16px;
            transition: background 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #form-pesquisa button:hover {
            background-color: #4591bd;
        }

        #form-pesquisa button svg {
            display: block;
        }
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background:#c8d9e6
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #2F4156 ;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #7E96A0 ;
}

.btn {
    background-color: #7E96A0 ;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #567C8D;
}

#cadastro{
    text-align: center;
}