<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <title>Cadastro</title>
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}">
            <img id="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" />
        </a>
        <nav>
            <ul id="menu">
                <li class="list"><a href="{{ url_for('home') }}">Home</a></li>
                <li class="list"><a href="{{ url_for('comidas') }}">Comidas</a></li>
                <li class="list"><a href="{{ url_for('favoritos') }}">Favoritos</a></li>
                <li class="list"><a href="{{ url_for('login') }}">Login</a></li>
                <li id="item-pesquisa">
                </li>
            </ul>
        </nav>
    </header>
    <form method="post">
        <input type="text" name="username" placeholder="Usuário" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Senha" required>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>