{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Editar País: {{ des.nome_Pais }}</h1>
</div>

<form action="{{ url_for('editar_pais', cod=des.cod_Pais) }}" method="POST">
    <div class="mb-3">
        <label for="nome_pais" class="form-label">Nome do País</label>
        <input type="text" class="form-control" id="nome_pais" name="nome_pais" value="{{ des.nome_Pais}}" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Atualizar</button>
    <a href="{{ url_for('paises') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}